pipeline/MetaData_LookUp_LastModifiedDat.json
{
	"name": "MetaData_LookUp_LastModifiedDate",
	"properties": {
		"activities": [
			{
				"name": "Get_Metadata_Last",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Strg_Acct_Gen2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"size",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get_Last_Execution_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_lastloaddate]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "LastLoadDate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ifcomp",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_Metadata_Last",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get_Last_Execution_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(\nactivity('Get_Metadata_Last').output.lastModified,\nactivity('Get_Last_Execution_Date').output.firstRow.executionDate\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_Load_AzureSQLDB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": "truncate table dbo.sqldb_rt_cde"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "RateCodeID",
												"type": "String"
											},
											"sink": {
												"name": "RateCodeID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RateCode",
												"type": "String"
											},
											"sink": {
												"name": "RateCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IsApproved",
												"type": "String"
											},
											"sink": {
												"name": "IsApproved",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Strg_Acct_Gen2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sqldb_rt_cde",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "usp_UpdateExecutionDate",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_Load_AzureSQLDB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpdateLastExecutionDate]",
								"storedProcedureParameters": {
									"ExecutionDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_sqlserver_Onprem",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}