pipeline/MetaDataLastModified_date.json
{
	"name": "MetaDataLastModified_date",
	"properties": {
		"activities": [
			{
				"name": "Get_Metadata_Last",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Strg_Acct_Gen2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"size",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "usp_InsertLastModifiedDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get_Metadata_Last",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertLastModifiedDate]",
					"storedProcedureParameters": {
						"Filename": {
							"value": {
								"value": "@activity('Get_Metadata_Last').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ModifiedDate": {
							"value": {
								"value": "@activity('Get_Metadata_Last').output.lastModified",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RecordInsertedDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_sqlserver_Onprem",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}