pipeline/Parent_get_List_Of_Files.json
{
	"name": "Parent_get_List_Of_Files",
	"properties": {
		"activities": [
			{
				"name": "Meta_Get_List_Of_Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Folder_AzureStorage_Gen2_Internetsales",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Execute_Child_For_Each",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Meta_Get_List_Of_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Child_For_Each",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FileList": {
							"value": "@activity('Meta_Get_List_Of_Files').output.childitems",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}